
.bg-color-official{
background-color: #7D50C7;

}
body{
font-family: 'Playfair Display', serif;
}
.footer-radius{
border-top-left-radius: 55px;
border-top-right-radius: 55px;

}
.font-desc{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.font-size{
font-size: 23px;
}
.logo{
width: 200px;
}
.line-height{
line-height:2.5rem;
}
.social-img{
    width: 45px;
    padding-left: 14px;
}
.rights-reserved{
    opacity: .5;
}
@media (max-width: 991px){
.adress-box{
    padding-left: 15px;
    
}
}
