
    .style2{
    font-family: 'Libre Franklin', sans-serif !important;
    }
    .style1{
    font-family: 'Playfair Display', serif !important;
    }
    .navbar-nav{
    margin-right: 0 !important;
    
    }
    .bg-color-official{
        background-color: #7D50C7;
    }
    .official_text{
    color: #7D50C7;
    }
    .logo{
    width: 250px;
    }
    .dropdown-item:hover{
    background-color: #7D50C7;
    color: #fff;
    }
    input, textarea{
        border-radius: 10px !important;
        border: #fff;
        box-shadow: 2px 2px  #ddd;
    }
    .cont-box{
        border-radius: 20px !important;
        border: 2px solid #ddd;
        box-shadow: 2px 2px 2px 2px #ddd;
    }
    .info-box{
        border-radius: 20px !important;
        background-color: #7D50C7;
    }
    .bg-color-official{
        background-color: #7D50C7;
    }
    /* .input-form{
        opacity: .5;
    } */
    input::-webkit-input-placeholder {
        opacity: 0.5 !important; 
   }
   textarea::-webkit-input-placeholder{
    opacity: 0.5 !important;
   }
    .btn-radius{
      border-radius: 10px;
    }
    .rights-reserved h6{
        opacity: .5;
    }
    
    .info-fs{
        font-size: 18px; 
        font-weight: 200;
    }
    .old-typical-phone{
        width: 30px;
    }
    iframe{
        width: 100%;
        height: 500px;
    }

    @media (min-width: 992px){
    .menu_wrapper  li .active{
          border-bottom: 2px solid #fff;
          width: 100%;
        }
      }   
    @media (max-width: 349px){

      .website-link{
        font-size: 17px;

      }
      .container-contact{
        padding: 0;

      }
    }
  
  

