*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.breadcrumbs{
    border: 0px solid red;
    margin-top: 3%;
    
}
.breadcrumbs-1{
    border: 0px solid blue;
   
    margin-left: 10%;
    list-style: none;
    display: flex;
    
}
.breadcrumbs-item a{
    text-decoration: none;
    color: #1999ce;
   
}
.breadcrumbs-item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    /* color: #cccccc; */
}
.breadcrumbs-item .breadcrumbs-link1 a{
    color: black;
}
.breadcrumbs-item1 a{
    color: #999;
    text-decoration: none;

}
.heading h3{
    border: 0px solid red;
    width: 80%;
    margin-left: 15%;
    margin-top: 3%;
}
.box{
    /* display: flex; */
}
.box-1{
    border: px solid red;
    width: 60%;
    margin-left: 15%;
}

.details{
    border: 0px solid red;
    margin-top: 4%;
    box-shadow: 2px 2px 2px 2px #ddd;
    
}
.blog-text{
   padding: 10px ;
    border: px solid blue;
    margin-left: 2%;
    /* width: 99%; */
}
.detail img{
    float: left;
    
    padding-right: 15px;
    border: 0px solid olive;
    height: 50px;
    border: px solid red;
   

}
.detail{
    margin-top: 3%;
   
   
}
.detail p{
    font-size: 15px;
}
.heading h4{
    font-size: 15px;
    color: #1999ce;
    
}
.heading h6{
    font-size: 13px;
    color: #999;
    margin-top: 1%;
    border-bottom: 1px solid #eee;
}
.cont-reading{
    font-size: 12px;
    margin-top: 2%;
}
.cont-reading a{
    text-decoration: none;
    color: #1999ce;
}

/*  */

.heading-2{
    border: 0px solid red;
    margin-top: 5%;
}
.heading-2 h4{
    border: 0px solid blue;
    text-align: center;
    font-size: 18px;
}
.grid{
    display: grid;
    /* width: 114em; */
    grid-gap: 2rem;
     grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
     /* grid-template-columns: repeat(3,1fr); */
     border: 0px solid red;
    
    align-items: start;
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}
.grid-item{
    border: 2px solid #ddd;
    border-radius: 0.4rem;
    overflow: hidden;
    /* box-shadow: 0 3rem 6rem rgba(0,0,0,0.1); */
    box-shadow: 2px 2px 2px 2px #ddd;
    cursor: pointer;
    transition: 0.2s;
}
.grid-item:hover{
    transform: translateY(-0.5%);
    /* box-shadow: 0.4rem 8rem rgba(0,0,0,0.5); */
    box-shadow: 2px #ddd;
}
.card-img{
    display: block;
    /* width: 100%; */
    /* height: 10rem; */
    object-fit: cover;
}
.card-content{
    padding: 3rem;
}
.card-header{
    font-size: 18px;
    font-weight: 500;
    color: #1999ce;
    margin-bottom: 1.5rem;
}
.card-text{
    font-size: 15px;
    border: 0px solid red;

}
.report{
    border: px solid red;
    color: #1999ce;
    margin-top: 5%;
}
/*  */
/*  
.box-2{
    border: 2px solid #ddd;
    width: 25%;
    margin-left: 3%;
    
}
.b1{
    border: px solid blue;
    width: 95%;
    margin-left: 3%;

}
.img-paragraph{
    display: flex;
    margin-top: 3%;
    border: px solid red;
}
.paragraph{
    margin-left: 1%;
}
.paragraph h3{
    color: #1999ce;
    font-size: 15px;
}
.paragraph p{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.report p{
    font-size: 13px;
    color: #1999ce;
}
/*  */
.heading p{

}






/*  */

@media (max-width:1000px){
    .box{
        flex-direction: column;
    }

    .box-2{
        border: 2px solid #ddd;
        width: 70%;
        margin-left: 10%;
        margin-top: 5%;
        
    }
    .box-1{
        border: 0px solid red;
        width: 70%;
        margin-left: 10%;
    }
    .paragraph p{
        font-size: 15px;
        overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
        

    }
    
}

@media (max-width:1200px){

.grid{
       
   
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    /* grid-template-columns: repeat(2,1fr); */
}
.grid-item{
    width: 70%;
    /* grid-template-columns: repeat(2,1fr); */
}
}
@media (max-width:540px){

    .grid-item{
        width: 70%;
    }

}
