<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="inv-buyer-loggind.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <title>inv-buyer loggedin view</title>
  </head>
  <body>
  
    <div class="container py-4">
    <nav aria-label="breadcrumb " >
      <ol class="breadcrumb ">
        <li class="breadcrumb-item">
          <a href="#" class="text-decoration-none link_color">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" class="text-decoration-none link_color">Businesses</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#" class="text-decoration-none link_color">Location</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Business Name
        </li>
      </ol>
    </nav>
    </div>


    <!-- main -->
    <div class="container">
      <div class="row gx-5">
        <div class="col-md-8 sm-py-3 ">
         <div class="p-3 border bg-white">Business Associate, IT Service, Individual Buyer, India
        
        <div class="icons col-md-12">
          <ul class="social-proof-list d-flex flex-row px-0 py-1 small-font">
            <li class="icon-email list-unstyled px-1"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 512 512"><path d="M0 128C0 92.65 28.65 64 64 64H448C483.3 64 512 92.65 512 128V384C512 419.3 483.3 448 448 448H64C28.65 448 0 419.3 0 384V128zM48 128V150.1L220.5 291.7C241.1 308.7 270.9 308.7 291.5 291.7L464 150.1V127.1C464 119.2 456.8 111.1 448 111.1H64C55.16 111.1 48 119.2 48 127.1L48 128zM48 212.2V384C48 392.8 55.16 400 64 400H448C456.8 400 464 392.8 464 384V212.2L322 328.8C283.6 360.3 228.4 360.3 189.1 328.8L48 212.2z"/></svg><span class="px-1" id="icons1" >Official Email</span></li>
            <li class="icon-linkedin-sign list-unstyled"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg><span class="px-1" id="icons1" >LinkedIn</span></li>
            <li class="icon-phone list-unstyled px-1"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 512 512"><path d="M511.2 387l-23.25 100.8c-3.266 14.25-15.79 24.22-30.46 24.22C205.2 512 0 306.8 0 54.5c0-14.66 9.969-27.2 24.22-30.45l100.8-23.25C139.7-2.602 154.7 5.018 160.8 18.92l46.52 108.5c5.438 12.78 1.77 27.67-8.98 36.45L144.5 207.1c33.98 69.22 90.26 125.5 159.5 159.5l44.08-53.8c8.688-10.78 23.69-14.51 36.47-8.975l108.5 46.51C506.1 357.2 514.6 372.4 511.2 387z"/></svg><span class="px-1" id="icons1" >Phone</span></li>
            <li class="icon-facebook-sign list-unstyled"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 448 512"><path d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"/></svg><span class="px-1" id="icons1" >Facebook</span></li>
            <li class="icon-google list-unstyled px-1"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 448 512"><path d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zM164 356c-55.3 0-100-44.7-100-100s44.7-100 100-100c27 0 49.5 9.8 67 26.2l-27.1 26.1c-7.4-7.1-20.3-15.4-39.8-15.4-34.1 0-61.9 28.2-61.9 63.2 0 34.9 27.8 63.2 61.9 63.2 39.6 0 54.4-28.5 56.8-43.1H164v-34.4h94.4c1 5 1.6 10.1 1.6 16.6 0 57.1-38.3 97.6-96 97.6zm220-81.8h-29v29h-29.2v-29h-29V245h29v-29H355v29h29v29.2z"/></svg><span class="px-1" id="icons1" >Google</span></li>
          </ul>
          </div>
         
          <div class="checkbox">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" class="mb-1" fill="green" viewBox="0 0 448 512"><path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM339.8 211.8C350.7 200.9 350.7 183.1 339.8 172.2C328.9 161.3 311.1 161.3 300.2 172.2L192 280.4L147.8 236.2C136.9 225.3 119.1 225.3 108.2 236.2C97.27 247.1 97.27 264.9 108.2 275.8L172.2 339.8C183.1 350.7 200.9 350.7 211.8 339.8L339.8 211.8z"/></svg>
           This Member is on a Premium Plan
           </div>
           <div class="col-12 py-2">
           <h6>Individual Buyer in India Looking to Buyout Technology and IT Service Businesses Upto INR 15 crore
          </h6>
          </div>
           
          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Name, Phone, Email</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">Available after connect</div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Company</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 "> Available after connect
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Professional Summary</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 "> IT company with our corporate office based out of San Ramon, CA & headquarter in India.<br>We actively pursuing possibilities of inorganic growth.
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Transaction Preference</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">
                  <a href="" class="text-decoration-none">Acquiring / Buying a Business
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Investment Size</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">
                  Between 1 crore - 15 crore INR
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Investment Criteria</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">                  
               Business Intelligence or Predictive Analytics on Oracle or Microsoft platform.
               Developing areas such as UX, Big Data Implementation tools such as SAP HANA, HADOOP )
               Automation Engineering.
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Overall Rating</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">                  
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                  <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span><a href="" class="text-decoration-none px-2"> View Details</a>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Local Time</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">                  
                  12:32 PM (Asia / Kolkata)
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Status</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">  
                  <svg xmlns="http://www.w3.org/2000/svg" class="mb-1"width="15" height="17" fill="green" viewBox="0 0 512 512"><path d="M512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256z"/></svg>                  
                  Active
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Sector Preference</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">                  
                <a href=""  class="text-decoration-none">IT Consultancy,</a>
                <a href="" class="text-decoration-none" >Software Testing Services,</a>
                <a href="" class="text-decoration-none" >IT Services,</a>
                <a href="" class="text-decoration-none" > Application Software,</a>
                <a href="" class="text-decoration-none" >Enterprise Software,</a>
                <a href="" class="text-decoration-none" >Mobile Apps, </a>
                <a href="" class="text-decoration-none" >Software Companies,</a>
                <a href="" class="text-decoration-none" >Web & Mobile Development,</a>
                <a href="" class="text-decoration-none" >Technology</a>

                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-1  fw-bold">Location Preference</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-1 ">                  
                <a href=""  class="text-decoration-none">Bangalore (Bengaluru), </a>
                <a href="" class="text-decoration-none" >Hyderabad,</a>
                <a href="" class="text-decoration-none" >Delhi</a>
                <a href="" class="text-decoration-none" > Pune,</a>
                <a href="" class="text-decoration-none" >Noida,</a>
                <a href="" class="text-decoration-none" >India, </a>

                </div>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-4  fw-bold">Recent Activity</div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-4 ">                  
                  <div class="timelineArea">
                    <div class="timeline">
                      <p> Connected with 8 businesses.</p>
                    </div>
                    <div class="timeline">
                      <p>Received 10+ proposals</p>
                    </div>
                    <div class="timeline">
                      <p>3 days, 20 hours ago<br>
                                  Received a proposal from<a href="" class="text-decoration-none"> Online store that sells stationery, and utility products through its website and social media handle.</a></p>
                    </div>
                         
                          <div class="timeline">
                      <p> 1 week ago<br>
                                  Received a proposal from <a href="" class="text-decoration-none">Company that uses technology and animal nutrition sciences to provide pet products and services online. </a></p>
                    </div>

                    <div class="timeline">
                      <p> 3 days, 20 hours ago<br>
                                  Received a proposal from<a href="" class="text-decoration-none"> Company providing full-stack solutions in agricultural supply chain to farmers in India seeks investment. </a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pie mt-4 px-3">
            <h6>Preferences:</h6>
           <div class="row">
               <div class="col-sm-12 col-lg-6" id="myChart1"  style="height:200px;  ">
                 </div>
                 <div class="col-sm-12 col-lg-6" id="myChart"  style="height:200px;  ">
               </div>
             </div>
       </div>
  
          <div class="">
            <div class="row gx-5">
              <div class="col-sm-12 col-md-4">
               <div class="py-2  fw-bold">Tags
              </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="py-2 ">
                  Investor, IT Investor, Tech Investor, Hi-Tech Investor, Investor in India, Technology Investor, IT Service Investor, Technical Service Investor
                </div>
              </div>
            </div>
          </div>

          <div class="py-4">
            <div class="row gx-5">
              <div class="col ">
               <div class=" disclaimer  py-2 border-top fw-light">Disclaimer: HUNTMENT is a regulated marketplace for connecting business sell sides with investors, buyers, lenders and advisors. Neither HUNTMENT represents nor guarantees that the information mentioned above is complete or correct. Note that HUNTMENT is not liable for any loss, damage, costs, claims and expenses whatsoever arising from transacting with any other user from the website. The final responsibility of conducting a thorough due diligence and taking the transaction forward lies with the users. Please read best practices on HUNTMENT.
              </div>
              </div>
             
            </div>
          </div>
        </div>
        </div>
        <div class="col-md-4 py-3">
          <div class=" color-text p-3 border"><h6>Send Business Proposal</h6>
            <p class="text-center py-2">To engage serious businesses, sending proposals is allowed only on premium plans
            </p> 
            
          
        <div class="btn col-12">
            <button type="button" class=" send-btn btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Send proposal
              </button>
        </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Upgrade Profile </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row gx-5">
            <div class="col-sm-12 col-md-8">
             <div class="py-1 ">  <input type="radio">
              Active Plan</div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="py-1 ">                  
                Rs. 7,999
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="row gx-5">
            <div class="col-sm-12 col-md-8">
             <div class="py-1 ">  <input type="radio">
              Fast Track Plan [Recommended]</div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="py-1 ">                  
                Rs. 7,999
              </div>
            </div>
          </div>
        </div>
        

      
        <div class="col bg-light p-3">
          
          <p> Speedy profile activation within 1 business day</p>

          <p> Profile marked as 'Premium Plan' and gets higher visibility</p>
           
            <p> SMERGERS promotes your profile actively in regular investor newsletters</p>
           
              <p> You can send up to 80 business proposals to investors and buyers</p>
           
                <p> SMERGERS sends your business proposal to top 20 active investors and buyers in your sector</p>
           
                  <p> Option to send NDA to maintain confidentiality</p>
           
                    <p> Quick email support for your queries</p>
           
                      <p> Plan valid for 1 year or deal closure, whichever is earlier</p>
        </div>

        <div class="">
          <div class="row gx-5">
            <div class="col-sm-12 col-md-8">
             <div class="py-1 ">  <input type="radio">
              Active Plan</div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="py-1 ">                  
                Rs. 7,999
              </div>
            </div>
          </div>
        </div>

        <div class="">
          <div class="row gx-5">
            <div class="col-sm-12 col-md-8">
             <div class="py-1 ">  <input type="radio">
              Fast Track Plan [Recommended]</div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="py-1 ">                  
                Rs. 7,999
              </div>
            </div>
          </div>
        </div>
        
        
      
       
      
      </div>
      <div class="modal-footer">
        Total Payable: Rs. 9,999 (Inclusive of all Taxes) 
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary">Upgrade Now</button>
      </div>
    </div>
  </div>
</div>
 <div class="link1 ">
     <div class="preview-link col-12 text-center">
              <button type="button" class=" link-btn bg-white py-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">Preview Proposal
            </button>
            </div>

<!-- Modal -->
<div class="modal-dialog modal-dialog-scrollable">

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel1">Business Proposal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="row gx-5">
            <div class="col-12">
             <div class="">Subject: New proposal from </div>
            </div>
            <div class="col-12">
              <div class="py-2">Dear Investor,</div>
            </div>
            <div class="col-12">
              <div class="py-2">You just received a proposal from the following business.
              </div>
            </div>
            <div class="col-12">
              <div class="py-2 modal-image">
                <img  src="download.png">
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Industries: Energy
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Locations: Istanbul
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Business Overview
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Descrpition
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Transaction Details
              </div>
            </div>
            <div class="col-12">
              <div class="py-2">Full Sale
              </div>
            </div>
            <div class="">
              <div class="row gx-5">
                <div class="col">
                 <div class="">Asking price</div>
                </div>
                <div class="col">
                  <div class="">Price</div>
                </div>
              </div>
            </div>
            <div class="">
              <div class="row gx-5">
                <div class="col">
                 <div class="">Reason for sale</div>
                </div>
                <div class="col">
                  <div class="">Descrpition</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
            <!--  -->
            </div>
            <!--  -->
            <div class="">
              <div class="row ">
                <div class="col border text-center py-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="14"  viewBox="0 0 384 512"><path d="M384 48V512l-192-112L0 512V48C0 21.5 21.5 0 48 0h288C362.5 0 384 21.5 384 48z"/></svg>
                  Bookmark
                </div>
                <div class="col border text-center py-2">
                  <svg xmlns="http://www.w3.org/2000/svg"  width="14" height="14" viewBox="0 0 576 512"><path d="M568.9 143.5l-150.9-138.2C404.8-6.773 384 3.039 384 21.84V96C241.2 97.63 128 126.1 128 260.6c0 54.3 35.2 108.1 74.08 136.2c12.14 8.781 29.42-2.238 24.94-16.46C186.7 252.2 256 224 384 223.1v74.2c0 18.82 20.84 28.59 34.02 16.51l150.9-138.2C578.4 167.8 578.4 152.2 568.9 143.5zM416 384c-17.67 0-32 14.33-32 32v31.1l-320-.0013V128h32c17.67 0 32-14.32 32-32S113.7 64 96 64H64C28.65 64 0 92.65 0 128v319.1c0 35.34 28.65 64 64 64l320-.0013c35.35 0 64-28.66 64-64V416C448 398.3 433.7 384 416 384z"/></svg>
                  Share
                </div>
               
              </div>
            </div>

          </div>

          
        </div>

      </div>
    </div>
    <!-- main -->


    <!--Deal swiper from here-->
<section class="container-fluid alt_bg py-4 ">
  <h3 class="text-center"></h3>
  <section class="swiper_business_section container position-relative d-flex justify-content-center align-items-center">
    <div class="swiper mySwiper1 container">
      <div class="swiper-wrapper content">
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3 "> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
        <!-- card 2 -->
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3 "> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
        <!-- card 2 end -->
        <!-- card 3 -->
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3 "> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
        <!-- card 3 end -->
        <!-- card 4 -->
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3"> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
        <!-- card 4 end -->
        <!-- card 5 -->
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3"> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
        <!-- card 5 end -->
       
        
       
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3"> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>

        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3"> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
     
        <div class="swiper-slide col-md-4 h-75 col-sm-12 mb-sm-4 bg-white my-4 ">
          <div class="card">
            <h6 class="text-center py-2 official-color">Machine Shop Investment Opportunity in</h6>
              <div class="card-body">
                <h6 class="card-title text-center">Manufacturing industrial products with 80% sales on B2B to the largest companies in Turkey. Details</h6>
                <div class="">
                  <div class="row gx-5">
                    <div class="col">
                     <div class="text-center">  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="35" fill="orange"  viewBox="0 0 576 512"><path d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z"/></svg>
                      <!-- <div class="py-1"> -->
                        <span class="rating-number">7.2 <span class="opacity-50 small"> / 10</span></span>
                    <!-- </div> -->
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> <svg xmlns="http://www.w3.org/2000/svg" width="15" height="35" fill="maroon" viewBox="0 0 384 512"><path d="M168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2H168.3zM192 256C227.3 256 256 227.3 256 192C256 156.7 227.3 128 192 128C156.7 128 128 156.7 128 192C128 227.3 156.7 256 192 256z"/></svg>
                      
                  
                        <!-- <div class="p-1 "> -->
                            <span class="opacity-50 small">location</span>
                        
                        <!-- </div> -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light py-2 ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >Run Rate Sales</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>INR 14 Crore</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="bg-light ">
                  <div class="row  ">
                    <div class="col">
                     <div class="text-center">  
                      <p >EBITDA Margin</p>
                    </div>
                    </div>
                    <div class="col">
                      <div class="text-center"> 
                      <p>35%</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class=" ">
                  <div class="row ">
                    <div class="col">
                     <div class="py-1">
                      <div class="opacity-50">Financial Investment </div>
                      <div class="company-color fs-6 official-color">INR
                          <span class="currency-text fs-5">24 Cr</span>
                          <span class=" fs-6">for</span>

                          <span>86%</span>
                      </div>
                     </div>
                    </div>
                    <div class="col">
                      <div class="py-3"> 
                        <button type="button" class="btn btn-warning">Conatct Business</button>

                      </div>
                    </div>
                  </div>
                </div>
               <!-- <div class="d-flex justify-content-around">
                <a href="{% url 'in_progress' %}"  class="btn official_bg text-white">Know More</a>
              </div> -->
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-next1 "></div>
    <div class="swiper-button-prev swiper-button-prev1 "></div>
    <div class="swiper-pagination swiper-pagination1 "></div>
  </section>
</section>
<!--Deal swiper upto here-->


 


   




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="inv-buyer-loggind.js" async defer></script>






    


   
  </body>
</html>