@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
	margin: 0;
	padding: 0;
	
}


.official_bg{
    background-color: #800080
}
.btn{
    background-color: #800080;
}
.pagination-color{
    color: #800080 !important;
}

.official_text{
    color: #800080
}
.border_official{
    border: 1.5px solid #800080
}
.navbar-nav{
	margin-right: 0 !important;
   
}

.nav-item a{
	color: white !important;
}

#banner-row img{
	max-width: 70%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-col{
	padding-left: 20px;
}


#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
}

#about-col ul li{
	padding-top: 15px;
	
}
.social-col a:hover img{
transform: translateY(-10px);
}

#social-row{
	flex-direction: row;
}

.timeline{
    width: 100%;
    max-width: 850px;
    padding: 20px 30px;
    margin: 20px auto;
    background-color: #fff;
    position: relative;
}
.block img{
    width: 100px;
}
.blocks::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translateX(-50%);
    border-left: 2px dotted #555;
}
.block{
    width: calc(50% - 20px);
    margin: 40px 0;
    border: px solid #eee;
    padding: 10px 15px;
    position: relative;
}
#block2::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1999ce;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px #ddd;
    top: 0;
    right: -30px;
}
#block1::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(199, 90, 90);
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px #ddd;
    top: 0;
    right: -30px;
}
#block3::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(92, 40, 249);
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px #ddd;
    top: 0;
    right: -30px;
}
#block4::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid #fff;
    box-shadow: 2px 2px 2px 2px #ddd;
    top: 0;
    right: -30px;
}
.block:nth-child(even){
    left: calc(50% + 20px);
}
.block:nth-child(even)::before{
    left: -31px;
}

header p{
    position: absolute;
    padding: 3px 8px;
    
}
.block:nth-child(odd) header p{
    right: -215px;
    top: 0;
}
.block:nth-child(even) header p{
    left: -215px;
    top: 0;
}
.logo{
	width: 150px;
}

.image1{
    border-radius: 50%;
    border: 2px solid #ddd; 	
    object-fit: cover; 
    max-width: 60px;
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.swiper-pagination{
    top: 98%;
}


    

/* responsive */
@media (max-width: 630px){
    .timeline::before{
        left: 20px;
        transform: translateX(0);
    }
    .blocks::before{
        left: 30px;
        transform: translateX(0);
    }
    .blocks{
        padding-left: 20px;
    }
    .block{
        width: 100%;
    }
    .block::before, .block:nth-child(even){
        left: -30px;
    }
    .block:nth-child(even){
        left: 0;
    }
    header p{
        position: static;
        border: none;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 987px){
	.navbar-brand{
		padding-left: 0px !important;
	}
}

@media only screen and (max-width: 768px){
	/* 
	 */
	 *{
		 /* overflow-x: hidden !important; */
	 }
	#banner-row img{
		padding-top: 20px;
	}

.social-col{
	width: 33%;
}

}


@media(max-width:356px){
    .heading-text-main h1{
        font-size: 30px !important;
    }
}
/* logo responsive *
@media (min-width:673px){
    .logo_header img{
        padding-left: 80px;
    
    }
    .testimonial{
        margin-right: 60px;
    }
}
.logo_header img{
    width: 60%;
}

/* style="padding-left: 80px; width: 60%;" 
 style="margin-right: 60px;"*/
